RewriteEngine on
RewriteBase /edsa-tiny

## cannot be an existing file
RewriteCond %{REQUEST_FILENAME} !-f
## cannot be an existing folder
RewriteCond %{REQUEST_FILENAME} !-d

## index.php intercepts all requests
RewriteRule . index.php [L]
RewriteRule ^index\.php$ - [L]