RewriteEngine on
RewriteBase /

## ne doit pas etre un fichier existant
RewriteCond %{REQUEST_FILENAME} !-f
## ne doit pas etre un dossier existant
RewriteCond %{REQUEST_FILENAME} !-d

## on renvoit tous sur index.php
RewriteRule . index.php [L]
RewriteRule ^index\.php$ - [L]